@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

.itens{
    background-color: white;
    text-align: center;
    padding: 50px;
    position: relative;
    flex-direction: column-reverse;
    color: black
    
}

