.mosq01{
    width: 30px;
    height: 30px;
}

.mosq02{
    width: 65px;
    height: 65px;
}

.mosq03{
    width: 90px;
    height: 90px;
}

.ladoA{
    transform:scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}