@charset "UTF-8";
 
*{
font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #F5F56B,#cfcf12);
;
 
}
 
main {
background-color: #f1f3d3;
 
border-radius: 10px;
box-shadow: 5px 5px 15px rgba(68, 56, 49, 0.651);
width: 600px;
padding: 10px;
margin: auto;
 
 
}
h1 {
    color: rgb(71, 71, 25);
    text-align: center;
text-shadow: 1px 1px 0px #140d01;
 
}
h2 {
    color: rgb(157, 170, 40);
    text-align: center;
    text-shadow: 1px 1px 0px #181002;
}
p{
text-align: justify; color: rgb(3, 4, 5);
}
img{height: 100px;
    border-radius: 100px;
    margin-left: 500px;
    
    ;}
 
 